body{
    margin: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 10vh calc(100vh - 10vh));
    /*grid-template-rows: repeat(auto-fit,  minmax(100px, 1fr));*/ 

   }

.header{
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex; 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
 }

 .header a {
   text-decoration: none;
   color:rgb(66,133,244); 
   padding: 1em 1em 0 1em;
 }

.main{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex; 
    display: flex;
    flex-flow: row wrap;
    /*background-color: teal;*/ 
    justify-content: center;
    align-content: flex-start;
    padding: 3em 0.4em 0 0.4em;

}

.googlelogo{
   font-family: 'Josefin Sans', sans-serif;
   font-size: 3.5em;
   width: 100%;
   display: flex;
   letter-spacing: -3px;
   justify-content: center;
   margin: 0 0 0.4em 0;
   font-weight: 500;
}

#g-logo{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
}

.googleimg{
    margin: 0 0 0.5em 0.68em;
}

#g-images{
    font-size: 0.22em;
    position: relative;
    top: 4em;
    right: 2.7em;
    font-weight: normal;
    font-family: 'Kumbh Sans', sans-serif;
    letter-spacing: -0.5px;
}



 form{
    display: flex;
    flex-flow: row;
    justify-content: center ;
    align-content: ;
    width: 100%;
    /*border: 2px solid red;  */
 
}

#search_bar{
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex; 
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    padding: 0.5em 0 0.5em 0.5em;
    border-radius: 3em;
    border: 1px solid #dadce0;
 }

 .material-icons.md-24.md-light{ 
     font-size: 24px;
     color: rgba(0, 0, 0, 0.30);
    }

.input_text{
    width: 100%;
    margin: 0 0.6em 0 0;
    border-style: none;  
    font-size: 16px;
    /*border: 2px solid red; */
}

input[type=submit]{
     height: 40px;
     width: 140px;
     border-radius: 0.3em;
     border-style: none;
     font-family: 'Kumbh Sans', sans-serif;
     font-size: 0.9em;
     font-weight: 500;
     color: rgba(0, 0, 0, 0.60);
     
}

#adv_form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex; 
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-around;
    padding: 0.5em;
    width: 100%; 
}

label{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex; 
    display: flex;
    justify-content: flex-start;
    font-family: 'Kumbh Sans', sans-serif;
}

.input_adv{
    width: 100%;
    margin-bottom: 2em; 
    padding: 0.5em;
}

.footer{
    background-color: rgba(0, 0, 0, 0.1);
}


/* ------------------------------------ */

@media screen and (min-width: 320px){
    input[type=submit]{
        display: none;
    }
} 

@media screen and (min-width: 600px){

    .header {
       justify-content: flex-end;
       padding: 2em;
    }
    
    .main{
        padding: 6.5em 1em 0 1em;
    }

    .googlelogo{
        font-size: 5.9em;
        margin: 0 0 0.2em 0;
        font-weight: 700;
        letter-spacing: -6px;
        padding: 0.1em;
     }
     
     #g-logo{
        font-weight: 700;
     }

     .googleimg{
         margin: 0 0 0.5em 0.68em;
     }

     #g-images{
        font-size: 0.2em;
        position: relative;
        top: 4.2em;
        right: 3.1em;
        letter-spacing: -0.5px;
    }

    form{
        flex-flow: row wrap;
        flex-basis: 0;
        justify-content: ;
        align-items: ;
        margin: 0 0em 0 0em;       
    }

    input[type=submit]{
        display: inherit;
        margin: 2em 1em 0 1em;            
    }
    
    #search_bar{
        width: 500px;
        margin: auto;
    }
}  

@media screen and (min-width: 768px) {
    #search_bar{
        width: 650px;
        margin: auto;
        padding: 0.8em 0 0.8em 1em;
        
    }

    .input_text{
        margin: 0 0.6em 0 0.6em;
    }

    input[type=submit]{
        font-size: 1em;
        width: 160px;
        height: 50px; 
        letter-spacing: -0.05em           
    }

    
  
   

}
