.container{
   
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(autofill, minmax(10px, 1fr)); 
    grid-template-rows: 200px 90vh;
    grid-template-areas: 
       ". . . header"
       "main main main main";

    justify-content: ;
    align-content: ;
   }

.header{
    display: flex;
    grid-area: header;
    grid-column: 4 / 5;
    background-color: red;
    justify-content: center;
    align-items: center;
    
}

.main{
    display: flex;
    grid-area: main;
    background-color: blue;
    justify-content: center;
    align-items: center;
}