body{
    margin: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 10vh calc(100vh - 10vh));
    /*grid-template-rows: repeat(auto-fit,  minmax(100px, 1fr));*/ 

   }

.header{
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap; 
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    padding: 0 0 0 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
 }

 a {
   text-decoration: none;
   color:rgb(66,133,244); 
 }

.main{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex; 
    display: flex;
    flex-flow: row wrap;
    /*background-color: teal;*/ 
    justify-content: center;
    align-content: flex-start;
    padding: 3em 0.4em 0 0.4em;

}

@font-face{
     font-family: myGooglefont;
     src: url("./fonts/Product_Sans_Bold.ttf");
     font-weight: 900;
}

.googlelogo{
   font-family:myGooglefont;
   font-size: 3.9rem;
   display: flex;
   flex-flow: row;
   margin: 0 0 0.5em 0;
}

 form{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    width: 100%;
    /* border: 2px solid red;  */ 
 
}

#search_bar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    padding: 0 0 0 0;
    border-radius: 3em;
    border: 2px solid #dadce0;
    background-image: url('./img/search.png');
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 20px;
    
}

input[type=text]{
    width: 80%;
    padding: 13px 0px 13px 5px;
    border-style: none;  
    font-size: 16px;
    
}

input[type=submit]{
     height: 50px;
     width: 200px;
     border-radius: 0.3em;
     border-style: none;
    
}

.footer{
    background-color: rgba(0, 0, 0, 0.1);
}


/* ------------------------------------ */

@media screen and (max-width: 600px){
    input[type=submit]{
        display: none;
    }
} 
