$myWidth: 100%;
$wrapper: 0 auto;
$largescreenwidth: 70%;
$googlefont: 'Josefin Sans', sans-serif;
$font-stack: 'Kumbh Sans', sans-serif;
$breakpoint-sm: 568px;
$breakpoint-md: 768px;
$breakpoint-max-lg: 1000px;
$breakpoint-min-lg: 800px;
$breakpoint-xl: 1024px;  

@mixin flex($flow: row wrap, $justify: center, $align: null) {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    -ms-box-orient: horizontal;
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;  
    align-content: $align;  
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#g-logo,
#g-images,
.type_submit,
nav
{
font-family: $font-stack;
}

.main,
.wrapper,
#form,
.googlelogo,
#search_bar,
.type_text,
.type_submit
{
    width:$myWidth;
    border-style: none;
}

.wrapper,
.googlelogo,
.main
{
   @include flex($align: flex-start);
}

.wrapper{
    height: 100%;    
}

.main{
    padding: 3em 0.4em 0 0.4em;
    @media (min-width: $breakpoint-sm) {
        padding-top: 1em; 
       }
    @media (min-width: $breakpoint-md) {
        padding: 3em 1em 3em 1em;
    }
    @media (max-width: $breakpoint-max-lg) and (min-width: $breakpoint-min-lg) {
        padding: 0 0.4em;
    }    
}

.googlelogo{
    font-family: $googlefont;
    font-size: 3.9em;
    letter-spacing: -3px;
    font-weight: 600;
    @media (min-width: $breakpoint-xl) {
        font-size: 7em;
        margin: 0.5em 0 -0.2em 0;
        letter-spacing: -0.05em;
      } 
    @media (min-width: $breakpoint-md) {
        font-size: 5em;
        margin-bottom: -0.2em;
        font-weight: 900;
        padding: 0.1em;
        letter-spacing: -4px;
    }        
}

.brand-logo{
    @media (min-width: $breakpoint-xl) {
        padding: 0;
        margin: 0;
        font-size: 2em;
        letter-spacing: -0.05em; 
       } 
 }

 #g-logo{
    @media (min-width: $breakpoint-md) {
       font-weight: 900;
    }     
 }

#g-images{
    font-size: 0.22em;
    position: relative;
    top: 4.5em;
    right: 2.9em;
    font-weight: normal;
    letter-spacing: -0.5px;
   
    @media (min-width: $breakpoint-sm) {
        font-size: 0.2em;
        top: 4.9em;
        right: 3.2em;        
       }   
}

.googleimages{
    margin-left: 0.68em;    
    @media (min-width: $breakpoint-sm) {
        margin-right: 0.07em;        
       }
    @media (min-width: $breakpoint-md) {
        margin: 0.5em 0 -0.2em 0.63em;
    }
        
}

.material-icons.md-24.md-light{ 
     font-size: 24px;
     color: rgba(0, 0, 0, 0.30);
}



#form{
    @media (min-width: $breakpoint-md) {
        @include flex($justify: center);
        flex-basis: 0;    
    }
}


#search_bar{
  @include flex($flow: row nowrap);
    padding: 0.5em 0 0.5em 0.5em;   
    border-radius: 3em;
    border: 1px solid #dadce0;
    @media (min-width: $breakpoint-md) {
        width: 650px;
        padding: 0.8em 0 0.8em 1em;  
    }           
}

.type_text{    
    margin: 0 0.6em 0 0.7em;    
    font-size: 16px;
}

#search_bar:hover{
    box-shadow: 0px 1px 6px 1px rgb(217, 217, 217);
}

.type_text:focus{
    outline: none;
    box-shadow: 0px 0px 0px transparent;
}

.type_submit{
    display: none;
    height: 40px;
    width: 140px;
    border-radius: 0.3em;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.60); 
    @media (min-width: $breakpoint-xl) {
        display: block;
        font-size: 1.1em;
        width: 160px;
        height: 50px;
        margin: 2em 0.5em 0 0.5em; 
        }
    @media (max-width: $breakpoint-max-lg) and (min-width: $breakpoint-min-lg) {
        display: block;
        margin: 0.7em;
        }        
}

.type_submit:hover{
    border: 1px solid rgb(179, 179, 179);
}

@media (max-width: $breakpoint-max-lg) and (min-width: $breakpoint-min-lg) {
    input[value="Advanced Search"] {
        display: inherit;      
    }
}
